body {
    display: flex;
    justify-content: center;
    background-image: url(fondo.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
 
  form {
    max-width: 500px;
    width: 100%;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: transparent;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
  }

  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  button[type="submit"] {
    width: 100%;
    padding: 14px 20px;
    background-color: #76767a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background-color: #1b77ad;
  }